flows.json
[
    {
        "id": "b403ca2c.e569c8",
        "type": "tab",
        "label": "Collect http and send to influx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e678f6e42ec62f29",
        "type": "tab",
        "label": "Collect MQTT and send to influx",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b926bc2f.e3bf6",
        "type": "tab",
        "label": "Config Shelly via http",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd473a2.42521c8",
        "type": "tab",
        "label": "Shelly IP config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98c82eca.abfb6",
        "type": "tab",
        "label": "Tasmota via http",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bcaa9a7c.cecaf8",
        "type": "tab",
        "label": "Color light",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e450d5726844789a",
        "type": "tab",
        "label": "Manage global.data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3341fdd5d05969ac",
        "type": "tab",
        "label": "MQTT test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8e3429b0cb635bb",
        "type": "tab",
        "label": "Display",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1053ed500fd47d7f",
        "type": "subflow",
        "name": "Load global.data from data.json file",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "a4f593349c0b0817"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 100,
                "wires": [
                    {
                        "id": "070a7b6598ae7e96",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6fe751efb4188f7f",
        "type": "subflow",
        "name": "Save global.data to data.json file",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 240,
                "wires": [
                    {
                        "id": "e9bab46af03a901b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 240,
                "wires": [
                    {
                        "id": "fa0781c91335fd55",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "23b01882.224298",
        "type": "group",
        "z": "dd473a2.42521c8",
        "name": "Set Shelly WIFI and IP",
        "style": {
            "label": true
        },
        "nodes": [
            "5f6c6b24.ae8c34",
            "327ef29e.12ff8e",
            "c0b83d5b.946c8",
            "52703942.1aaf68",
            "3a210d52.985f62",
            "852ef071.13d1e",
            "b9950178.38129",
            "de46c1c6.1c16a"
        ],
        "x": 194,
        "y": 439
    },
    {
        "id": "c4066fa05599e976",
        "type": "junction",
        "z": "b926bc2f.e3bf6",
        "x": 600,
        "y": 960,
        "wires": [
            [
                "5ae9d107.f4c1c",
                "c22303255e0f7856"
            ]
        ]
    },
    {
        "id": "041c120ba3cea0e7",
        "type": "junction",
        "z": "b926bc2f.e3bf6",
        "x": 760,
        "y": 280,
        "wires": [
            [
                "8c22fbecda2b1db7"
            ]
        ]
    },
    {
        "id": "24cd74fd.1a8e3c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Cloud Influx Grafana",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com",
        "rejectUnauthorized": false
    },
    {
        "id": "e0bb5d77.8a2b8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d010456b.194988",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8ed57ee2.fa41e",
        "type": "ui_group",
        "d": true,
        "name": "Ceiling light",
        "tab": "e0bb5d77.8a2b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c99ea626.93dea8",
        "type": "ui_group",
        "d": true,
        "name": "Shellies",
        "tab": "17707b8.7f63385",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17707b8.7f63385",
        "type": "ui_tab",
        "name": "Device Monitoring",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ef7476a39f2de8d",
        "type": "mqtt-broker",
        "name": "raspberrypi.localdomain",
        "broker": "raspberrypi.localdomain",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "39eb116cd0133b1a",
        "type": "ui_group",
        "name": "Config shelly via http",
        "tab": "26415ded77ccb67d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d55a068db8bb479d",
        "type": "ui_group",
        "name": "Manage global.data",
        "tab": "3131bb36ae86dd61",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "26415ded77ccb67d",
        "type": "ui_tab",
        "name": "Config Shelly via HTTP",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3131bb36ae86dd61",
        "type": "ui_tab",
        "name": "Manage Global.Data and data.json",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "371b289848ea905a",
        "type": "ui_tab",
        "name": "Lights",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a40f2d68c8f1e7e7",
        "type": "ui_group",
        "name": "Lights",
        "tab": "371b289848ea905a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a4f593349c0b0817",
        "type": "file in",
        "z": "1053ed500fd47d7f",
        "name": "/root/data.json",
        "filename": "/home/pi/node-red/data.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "c48f2a69356e2245"
            ]
        ]
    },
    {
        "id": "c48f2a69356e2245",
        "type": "json",
        "z": "1053ed500fd47d7f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "070a7b6598ae7e96"
            ]
        ]
    },
    {
        "id": "070a7b6598ae7e96",
        "type": "change",
        "z": "1053ed500fd47d7f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fa0781c91335fd55",
        "type": "file",
        "z": "6fe751efb4188f7f",
        "name": "write to data.json",
        "filename": "/home/pi/node-red/data.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 650,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e9bab46af03a901b",
        "type": "change",
        "z": "6fe751efb4188f7f",
        "name": "move data to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "38549211228df78d"
            ]
        ]
    },
    {
        "id": "38549211228df78d",
        "type": "json",
        "z": "6fe751efb4188f7f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "fa0781c91335fd55"
            ]
        ]
    },
    {
        "id": "be80423f.cc1fe",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Kitchen",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.52/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "5d936fe.f70109"
            ]
        ]
    },
    {
        "id": "c5a72445.7b3848",
        "type": "inject",
        "z": "b403ca2c.e569c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 940,
        "wires": [
            [
                "be80423f.cc1fe",
                "ff2872b0.a344c",
                "21427da.886c382",
                "4b33beeb.11694",
                "a7aa278a.4fb358",
                "b4b382e3.25004",
                "2065a21e.ee3aee",
                "13e44c11.11d2e4",
                "39af946.d6b236c",
                "e0cabec5.657a4",
                "445498f0.e491a8",
                "3f4c7b22.6b2534",
                "f8b5a174.94001",
                "eaf781f7.b5402",
                "5f2880f8.e6988"
            ]
        ]
    },
    {
        "id": "5d936fe.f70109",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"ssid\":         msg.payload.wifi_sta.ssid,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Kitchen\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Kökslampa\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 140,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "34b6daa7.ed4316",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"No\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Kitchen\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Inget\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "f8b5a174.94001",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Gårdsbutik",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.46/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "c84d3fdc.b44ae",
                "32f4a449.cbadfc"
            ]
        ]
    },
    {
        "id": "c84d3fdc.b44ae",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Shop\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Taklampa Butiken\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 220,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "32f4a449.cbadfc",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"No\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Shop\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Inget\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 260,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "8f2a40eb.ecfef",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "StoraGårdslampan",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.88/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "7b4ba2ad.0ab1ac",
                "2b861d54.8884e2"
            ]
        ]
    },
    {
        "id": "7b4ba2ad.0ab1ac",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Outside\",\n    \"Location\":     \"WestSide\",\n    \"Type\":         \"Outdoor Light\",\n    \"Name\":         \"Stora Gårdslampan\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 300,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "2b861d54.8884e2",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Loft\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Loftlampan\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "5f2880f8.e6988",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Elstängsel",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.157/rpc/shelly.getstatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 1340,
        "wires": [
            [
                "1bd4eae6.d218e5"
            ]
        ]
    },
    {
        "id": "1bd4eae6.d218e5",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus Plug",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n        \"Ison\": msg.payload[\"switch:0\"].output,\n        \"InUse\":        \"Yes\",\n   // \"Overtemp\":     msg.payload.overtemperature,\n        \"Temperature\": msg.payload[\"switch:0\"].temperature.tC,\n        \"Power\": msg.payload[\"switch:0\"].current,\n        \"Apower\": msg.payload[\"switch:0\"].apower,\n        \"rssi\": msg.payload.wifi.rssi,\n        \"ssid\": msg.payload.wifi.ssid,\n        \"Voltage\": msg.payload[\"switch:0\"].voltage,\n        \"Uptime\": msg.payload.sys.uptime\n\n},\n{\n\n    \"Building\":     \"Plåtskjul\",\n    \"Room\":         \"Plåtskjui\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Relay\",\n    \"Name\":         \"Elstängsel\"\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1340,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "13e44c11.11d2e4",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Fårhus",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.87/rpc/shelly.getstatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 880,
        "wires": [
            [
                "6701d5a2.f1eb2c",
                "6031c22a.48921c"
            ]
        ]
    },
    {
        "id": "6701d5a2.f1eb2c",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:0\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Fårhus\",\n    \"Room\":         \"Fårhus\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Taklampa Får\"\n\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 860,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "6031c22a.48921c",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:1\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Fårhus\",\n    \"Room\":         \"Fårhus\",\n    \"Location\":     \"Outlet\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Får Nattlampa\"\n   \n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 900,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "ff2872b0.a344c",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Källardörr",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.188/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "97d3ed7.df8381"
            ]
        ]
    },
    {
        "id": "97d3ed7.df8381",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Källare\",\n    \"Location\":     \"Ytterdörr\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Källarlampa vid ytterdörren\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 380,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "21427da.886c382",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Källartrapp",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.189/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "faa9cbb9.d4c798",
                "df58efdb.a9934"
            ]
        ]
    },
    {
        "id": "faa9cbb9.d4c798",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Källare\",\n    \"Location\":     \"Trapp\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Källarlampa i trappen\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 460,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "df58efdb.a9934",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Källare\",\n    \"Location\":     \"Under Trapp\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Källarlampa under trappen\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 500,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "4b33beeb.11694",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Källarhall",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.193/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "9d443fe7.15362",
                "b87e4d22.a18cc"
            ]
        ]
    },
    {
        "id": "9d443fe7.15362",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Källare\",\n    \"Location\":     \"Hall\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Källarlampa i hallen\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 540,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "b87e4d22.a18cc",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Källare\",\n    \"Location\":     \"Torkrum\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Taklampa i torkrummet\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 580,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "31ea5936.05aa96",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Höns",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.165/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 640,
        "wires": [
            [
                "e077021e.544d2",
                "d0636e68.4c629"
            ]
        ]
    },
    {
        "id": "a7aa278a.4fb358",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Slaktrum",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.76/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 720,
        "wires": [
            [
                "f55df4e9.394b88",
                "5b3a3ea.73f3bc"
            ]
        ]
    },
    {
        "id": "b4b382e3.25004",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Kontoret",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.84/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 1380,
        "wires": [
            [
                "6a4c180e.b81b58"
            ]
        ]
    },
    {
        "id": "c23c05c9.5517a8",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Vardagsrum",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.85/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 1540,
        "wires": [
            [
                "3a981c8d.bed644"
            ]
        ]
    },
    {
        "id": "d336122d.ae353",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Kök bordslampa",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.179/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 1420,
        "wires": [
            [
                "d7ffad85.616cf"
            ]
        ]
    },
    {
        "id": "9485a0.ccb6fa6",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Källare\",\n    \"Location\":     \"Utomhuslampor\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Inget\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "e077021e.544d2",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Höns\",\n    \"Location\":     \"Tak\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Hönslampa\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 660,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "d0636e68.4c629",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Höns\",\n    \"Location\":     \"Ute\",\n    \"Type\":         \"Outdoor Light\",\n    \"Name\":         \"Utelampa Höns\"\n\n}\n]\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 620,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "f55df4e9.394b88",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Butchers\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Slaktrum\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 700,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "5b3a3ea.73f3bc",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "let ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Butchers\",\n    \"Location\":     \"Next to door\",\n    \"Type\":         \"Outlet\",\n    \"Name\":         \"Uttag Slaktrum\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 740,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "6a4c180e.b81b58",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plug",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":      msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Kontor\",\n    \"Location\":     \"Fönster\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Kontor Fönster och Läs\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1380,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "d7ffad85.616cf",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plug",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":      msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Kichen\",\n    \"Location\":     \"Table\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Kök bordslampa\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1420,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "3a981c8d.bed644",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Duo",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.lights[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    //\"Overtemp\":     msg.payload.overtemperature,\n    //\"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"ssid\":         msg.payload.wifi_sta.ssid,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n   // \"Voltage\":      msg.payload.voltage,\n    \"Red\":          msg.payload.lights[0].red,\n    \"Blue\":         msg.payload.lights[0].blue,\n    \"Green\":        msg.payload.lights[0].green,\n    \"White\":        msg.payload.lights[0].white,\n    \"Gain\":         msg.payload.lights[0].gain,\n    \"Brightness\":   msg.payload.lights[0].brightness,\n    \"Mode\":         msg.payload.lights[0].mode,\n    \"Source\":       msg.payload.lights[0].source\n    \n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Office\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Taklampa Kontoret\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1540,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "2065a21e.ee3aee",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Butik Bordslampa",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.82/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 1460,
        "wires": [
            [
                "ad030587.4d2838"
            ]
        ]
    },
    {
        "id": "ad030587.4d2838",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plug",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":      msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Shop\",\n    \"Location\":     \"Desk\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Butik Bordslampa\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1460,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "6b63e26a.cd309c",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Ligghall",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.89/rpc/shelly.getstatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 1640,
        "wires": [
            [
                "625cd00e.f406",
                "555056df.dff1d8"
            ]
        ]
    },
    {
        "id": "625cd00e.f406",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Pro 4 EM 1 Taklampa",
        "func": "let interface = \"switch:1\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Output\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Ligghall\",\n    \"Room\":         \"Ligghall\",\n    \"Location\":     \"Ceiling\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Taklampa ligghall\"\n\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 1620,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "555056df.dff1d8",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Pro 4 EM 0 Frostvakt",
        "func": "let interface = \"switch:0\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Ligghall\",\n    \"Room\":         \"Ligghall\",\n    \"Location\":     \"Outside\",\n    \"Type\":         \"Frostvakt\",\n    \"Name\":         \"Vattenkar ligghall\"\n\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 1580,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "ff705fc0.8e1fd",
        "type": "influxdb out",
        "z": "b403ca2c.e569c8",
        "influxdb": "24cd74fd.1a8e3c",
        "name": "",
        "measurement": "Relay",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "arvid@ikcf.com",
        "bucket": "arvid",
        "x": 1400,
        "y": 940,
        "wires": []
    },
    {
        "id": "8962ce57.f50e8",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Pro 4 EM 2 Används ej",
        "func": "let interface = \"switch:2\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Output\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Ligghall\",\n    \"Room\":         \"Ligghall\",\n    \"Location\":     \"\",\n    \"Type\":         \"\",\n    \"Name\":         \"\"\n\n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 1660,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "6aefa0c8.99a6",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Pro 4 EM 3 Används ej",
        "func": "let interface = \"switch:3\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Output\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Ligghall\",\n    \"Room\":         \"Ligghall\",\n    \"Location\":     \"\",\n    \"Type\":         \"\",\n    \"Name\":         \"\"\n\n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 1700,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "39af946.d6b236c",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Motorvärmare",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.90/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 800,
        "wires": [
            [
                "14a74016.3d9ff",
                "9ef2ed13.ffccc"
            ]
        ]
    },
    {
        "id": "14a74016.3d9ff",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "\n\nlet ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Utomhus\",\n    \"Location\":     \"Vägg\",\n    \"Type\":         \"Motorvärmare\",\n    \"Name\":         \"Motorvärmare vänster\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 780,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "9ef2ed13.ffccc",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "2.5",
        "func": "\n\n\nlet ifnr = 1\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.relays[ifnr].overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":       msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Utomhus\",\n    \"Location\":     \"Vägg\",\n    \"Type\":         \"Motorvärmare\",\n    \"Name\":         \"Motorvärmare höger\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 820,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "1630ddb7.bf2b42",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "AA",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.0/rpc/shelly.getstatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 960,
        "wires": [
            [
                "bf7e2c34.cd22c",
                "80825c54.19705"
            ]
        ]
    },
    {
        "id": "bf7e2c34.cd22c",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:0\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"\",\n    \"Room\":         \"\",\n    \"Location\":     \"\",\n    \"Type\":         \"\",\n    \"Name\":         \"\"\n\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 940,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "80825c54.19705",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:1\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"\",\n    \"Room\":         \"\",\n    \"Location\":     \"\",\n    \"Type\":         \"\",\n    \"Name\":         \"\"\n   \n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 980,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "e0cabec5.657a4",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Tegel hall",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.91/rpc/shelly.getstatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "2a75608b.1999a",
                "85ec749f.21b288"
            ]
        ]
    },
    {
        "id": "2a75608b.1999a",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:0\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Hall\",\n    \"Location\":     \"Tak\",\n    \"Type\":         \"Lampa\",\n    \"Name\":         \"Hallampa Tegel\"\n\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1020,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "85ec749f.21b288",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:1\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Bron\",\n    \"Location\":     \"Tak\",\n    \"Type\":         \"Lampa\",\n    \"Name\":         \"Brolampa Tegel\"\n   \n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1060,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "3f4c7b22.6b2534",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Kontor",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.94/rpc/shelly.getstatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "c80a12e5.8c75f",
                "23da3daa.1485b2"
            ]
        ]
    },
    {
        "id": "c80a12e5.8c75f",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:0\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":         msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Kontor\",\n    \"Location\":     \"Tak\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Kontor Spot\"\n\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1100,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "23da3daa.1485b2",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:1\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Kontor\",\n    \"Location\":     \"Tak\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Kontor Taklampa\"\n   \n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1140,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "d4f99ce.323726",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Värme Höns",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.93/rpc/shelly.getstatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 1240,
        "wires": [
            [
                "db9767ea.2a1218",
                "771b3144.102d4",
                "57d4ff54.2322d",
                "cd390dac.44bd9"
            ]
        ]
    },
    {
        "id": "db9767ea.2a1218",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:0\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n   \n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Höns\",\n    \"Location\":     \"Vägg\",\n    \"Type\":         \"Frostvakt\",\n    \"Name\":         \"Frostvakt Höns\"\n\n\n}\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1180,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "771b3144.102d4",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plus 2",
        "func": "let interface = \"switch:1\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload[interface].temperature.tC,\n    \"Power\":        msg.payload[interface].apower,\n    \"Voltage\":      msg.payload[interface].voltage,\n    \"Ison\":      msg.payload[interface].output,\n    \"SSID\":         msg.payload.wifi.ssid,\n    \"RSSI\":         msg.payload.wifi.rssi\n\n},\n{\n    \n    \"Building\":     \"Ladugård\",\n    \"Room\":         \"Höns\",\n    \"Location\":     \"Tak\",\n    \"Type\":         \"Heater\",\n    \"Name\":         \"Värme Höns\"\n   \n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1220,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "bae15674.4c8478",
        "type": "inject",
        "z": "b403ca2c.e569c8",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 1740,
        "wires": [
            [
                "eaf781f7.b5402"
            ]
        ]
    },
    {
        "id": "445498f0.e491a8",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Åtel",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.92/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "ce1a8252.a71d8"
            ]
        ]
    },
    {
        "id": "ce1a8252.a71d8",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Plug",
        "func": "let ifnr = 0\n\nmsg.payload=[\n{\n\n    \"Ison\":         msg.payload.relays[ifnr].ison,\n    \"InUse\":        \"Yes\",\n    \"Overtemp\":     msg.payload.overtemperature,\n    \"Temperature\":  msg.payload.temperature,\n    \"Power\":        msg.payload.meters[ifnr].power,\n    \"rssi\":         msg.payload.wifi_sta.rssi,\n    \"Voltage\":      msg.payload.voltage\n\n},\n{\n\n    \"Building\":     \"Vita\",\n    \"Room\":         \"Altan\",\n    \"Location\":     \"Outside\",\n    \"Type\":         \"Light\",\n    \"Name\":         \"Åtel lampa\"\n\n}\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1500,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "57d4ff54.2322d",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Ute",
        "func": "let interface = \"temperature:100\"\n\nmsg.payload=[\n    {\n        \"Temperature\":  msg.payload[interface].tC\n    },\n    {\n            \"Building\":     \"Ladugård\",\n            \"Room\":         \"Höns\",\n            \"Location\":     \"Vägg\",\n            \"Type\":         \"Thermometer\",\n\n       \n            \"Name\":         \"Ute\"\n        \n    }\n]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1260,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "cd390dac.44bd9",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Höns",
        "func": "let interface = \"temperature:101\"\n\nmsg.payload=[\n    {\n        \"Temperature\":  msg.payload[interface].tC\n    },\n    {\n            \"Building\":     \"Ladugård\",\n            \"Room\":         \"Höns\",\n            \"Location\":     \"Vägg\",\n            \"Type\":         \"Thermometer\",\n\n       \n            \"Name\":         \"Höns\"\n        \n    }\n]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1300,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "eaf781f7.b5402",
        "type": "http request",
        "z": "b403ca2c.e569c8",
        "name": "Stora Frysen",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.150/temperature",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 1740,
        "wires": [
            [
                "65941cee.1cfe34"
            ]
        ]
    },
    {
        "id": "65941cee.1cfe34",
        "type": "function",
        "z": "b403ca2c.e569c8",
        "name": "Huzzah",
        "func": "let interface = \"switch:1\"\n\nmsg.payload=[\n{\n    \"InUse\":        \"Yes\",\n    \"Temperature\":  msg.payload.temperature\n\n\n},\n{\n\n    \"Building\":     \"Tegel\",\n    \"Room\":         \"Butiken\",\n    \"Location\":     \"Frys\",\n    \"Type\":         \"Thermometer\",\n    \"Name\":         \"Stora Frysen\"\n   \n\n}\n]\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1740,
        "wires": [
            [
                "ff705fc0.8e1fd"
            ]
        ]
    },
    {
        "id": "50f270d7.28057",
        "type": "inject",
        "z": "b403ca2c.e569c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "bd5e7f467d55b33f",
        "type": "debug",
        "z": "b403ca2c.e569c8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 940,
        "wires": []
    },
    {
        "id": "d5b08c46c4c44c8b",
        "type": "influxdb out",
        "z": "e678f6e42ec62f29",
        "influxdb": "24cd74fd.1a8e3c",
        "name": "",
        "measurement": "Relay",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "arvid@ikcf.com",
        "bucket": "arvid",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "5abc01cc099dc262",
        "type": "function",
        "z": "e678f6e42ec62f29",
        "name": "Plus 2",
        "func": "let interface = \"switch:0\"\n\nmsg.payload = [\n    {\n        \"InUse\": \"Yes\",\n        \"Temperature\": msg.payload[\"DS18B20-2\"].Temperature,\n        \"Power\": 0,\n        \"Voltage\": 0,\n        \"Ison\": 0,\n        \"SSID\": 0,\n        \"RSSI\": 0\n\n    },\n    {\n\n        \"Source\": \"MQTT\",\n        \"Building\": \"Tegel\",\n        \"Room\": \"Shop\",\n        \"Location\": \"Window\",\n        \"Type\": \"Temperature\",\n        \"Name\": \"OutdoorTemp\"\n\n\n    }\n]\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "d5b08c46c4c44c8b"
            ]
        ]
    },
    {
        "id": "3d1ac778d9af025c",
        "type": "http request",
        "z": "e678f6e42ec62f29",
        "name": "Toggle tasmota led",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.165/cm?cmnd=POWER+TOGGLE",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "b59a7d49012c8eef"
            ]
        ]
    },
    {
        "id": "64ccdc6feabee6af",
        "type": "inject",
        "z": "e678f6e42ec62f29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "3d1ac778d9af025c"
            ]
        ]
    },
    {
        "id": "b59a7d49012c8eef",
        "type": "debug",
        "z": "e678f6e42ec62f29",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "7fef70416c51f228",
        "type": "mqtt in",
        "z": "e678f6e42ec62f29",
        "name": "Sub to tasmota temp",
        "topic": "tele/tasmota_5F2E10/SENSOR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ef7476a39f2de8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "b59a7d49012c8eef",
                "5abc01cc099dc262"
            ]
        ]
    },
    {
        "id": "ad878c4d895ed8d3",
        "type": "http request",
        "z": "e678f6e42ec62f29",
        "name": "Teleperiod",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.165/cm?cmnd=teleperiod",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "b59a7d49012c8eef"
            ]
        ]
    },
    {
        "id": "fe9149ef93d947e3",
        "type": "inject",
        "z": "e678f6e42ec62f29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ad878c4d895ed8d3"
            ]
        ]
    },
    {
        "id": "9a9c0d0ead50120b",
        "type": "debug",
        "z": "e678f6e42ec62f29",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "c2d1cfaf.f0345",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "{\"method\":\"Switch.Set\",\"params\":{\"id\":0,\"on\":false}}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"method\":\"Switch.Set\",\"params\":{\"id\":0,\"on\":false}}",
        "payloadType": "json",
        "x": 270,
        "y": 960,
        "wires": [
            [
                "c4066fa05599e976"
            ]
        ]
    },
    {
        "id": "a889fab2.66d098",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "Get MQTT status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":1,\"method\":\"Mqtt.GetStatus\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "c4066fa05599e976"
            ]
        ]
    },
    {
        "id": "ffe4b875.eb42c8",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "Check MQTT settings",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":1,\"method\":\"Mqtt.GetConfig\"}",
        "payloadType": "json",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "c4066fa05599e976"
            ]
        ]
    },
    {
        "id": "c099baee.c086a8",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "Reboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":1,\"method\":\"Shelly.Reboot\"}",
        "payloadType": "json",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "c4066fa05599e976"
            ]
        ]
    },
    {
        "id": "5ae9d107.f4c1c",
        "type": "http request",
        "z": "b926bc2f.e3bf6",
        "name": "http://{{{ip}}}/rpc",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://{{{ip}}}/rpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 740,
        "y": 960,
        "wires": [
            [
                "c22303255e0f7856"
            ]
        ]
    },
    {
        "id": "301126c44b981d3c",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": " ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "dee8bbc16d6bc491"
            ]
        ]
    },
    {
        "id": "da4a80819b21eb0e",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "192.168.0.157 PlusPlug",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "192.168.0.157",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "041c120ba3cea0e7"
            ]
        ]
    },
    {
        "id": "500cf2862050c81a",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "192.168.0.94",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "192.168.0.94",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "041c120ba3cea0e7"
            ]
        ]
    },
    {
        "id": "c22303255e0f7856",
        "type": "debug",
        "z": "b926bc2f.e3bf6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dee8bbc16d6bc491",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "209",
        "rules": [
            {
                "t": "set",
                "p": "prefix",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "192.168.0.229",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "041c120ba3cea0e7"
            ]
        ]
    },
    {
        "id": "84d7136093044c65",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "Set IP and perhaps topic below before using flows below",
        "info": " 1. # Set**** IP and perhaps topic below before using flows above",
        "x": 250,
        "y": 20,
        "wires": []
    },
    {
        "id": "a171a7c35049be4f",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "{\"method\":\"Switch.Set\",\"params\":{\"id\":0,\"on\":true}}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"method\":\"Switch.Set\",\"params\":{\"id\":0,\"on\":true}}",
        "payloadType": "json",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "c4066fa05599e976"
            ]
        ]
    },
    {
        "id": "d66651b790fa90b2",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "Outdoorlights/ladan/storalampan gen1 18",
        "rules": [
            {
                "t": "set",
                "p": "prefix",
                "pt": "global",
                "to": "Outdoorlights/ladan/storalampan",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "192.168.0.18",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "041c120ba3cea0e7"
            ]
        ]
    },
    {
        "id": "64334086c7ec9e50",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "Get wifi status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":1,\"method\":\"wifi.GetStatus\"}",
        "payloadType": "json",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "c4066fa05599e976"
            ]
        ]
    },
    {
        "id": "b1c9972fd9987c65",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": " ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "d66651b790fa90b2"
            ]
        ]
    },
    {
        "id": "90ba417ba1a7a36f",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "msg.ip = global.ip",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "5d41dfb484857bd0"
            ]
        ]
    },
    {
        "id": "5d41dfb484857bd0",
        "type": "http request",
        "z": "b926bc2f.e3bf6",
        "name": "http://{{{ip}}}/shelly",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://{{{ip}}}/shelly",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 420,
        "wires": [
            [
                "60869bad5f9a215a",
                "060d769398984e77"
            ]
        ]
    },
    {
        "id": "60869bad5f9a215a",
        "type": "debug",
        "z": "b926bc2f.e3bf6",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "060d769398984e77",
        "type": "switch",
        "z": "b926bc2f.e3bf6",
        "name": "Which gen?",
        "property": "payload.gen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "696c79373e5fab0f"
            ],
            [
                "c0f4a287f433e132"
            ]
        ]
    },
    {
        "id": "c0f4a287f433e132",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "GEN2",
        "rules": [
            {
                "t": "set",
                "p": "gen",
                "pt": "msg",
                "to": "GEN2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "60869bad5f9a215a",
                "afacda62093e4185"
            ]
        ]
    },
    {
        "id": "696c79373e5fab0f",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "GEN1",
        "rules": [
            {
                "t": "set",
                "p": "gen",
                "pt": "msg",
                "to": "GEN1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "60869bad5f9a215a",
                "afacda62093e4185"
            ]
        ]
    },
    {
        "id": "0b6e72eb498a74f4",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "Find out if gen1 or gen2",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "8d69294941fe123c",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "GEN 2 stuff",
        "info": "",
        "x": 130,
        "y": 760,
        "wires": []
    },
    {
        "id": "8a7bf83aa98ac4e0",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "GEN 1 stuff",
        "info": "",
        "x": 130,
        "y": 560,
        "wires": []
    },
    {
        "id": "784e82333855ae94",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": " ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "500cf2862050c81a"
            ]
        ]
    },
    {
        "id": "27a5a2d544f271eb",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": " ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "da4a80819b21eb0e"
            ]
        ]
    },
    {
        "id": "7ccad6633c756e97",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "Gen 2 devices",
        "info": "Set IP and perhaps topic below before using flows above",
        "x": 170,
        "y": 160,
        "wires": []
    },
    {
        "id": "615bca19cd24a01a",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "Gen 1 devices",
        "info": "Set IP and perhaps topic below before using flows above",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "dc18f882fdebf88f",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "New device: Find and set current IP. Allocate a new one in data. Edit \"set wifi and ip\", Deploy, run \"set wifi and ip\"",
        "info": "",
        "x": 940,
        "y": 20,
        "wires": []
    },
    {
        "id": "6afdef51382f3b42",
        "type": "http request",
        "z": "b926bc2f.e3bf6",
        "name": "http://{{{ip}}}/settings/sta",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://{{{ip}}}/settings/sta",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 660,
        "wires": [
            [
                "39540559f028fea8"
            ]
        ]
    },
    {
        "id": "39540559f028fea8",
        "type": "debug",
        "z": "b926bc2f.e3bf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "f4d3bda8f4688d3e",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "Set WIFI and static IP - work in progress",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"enabled\":true,\"ssid\":\"Yard\",\"key\":\"1234567890123\",\"ipv4_method\":\"static\",\"ip\":\"192.168.0.89\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.0.2\",\"dns\":\"192.168.0.2\"}",
        "payloadType": "json",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "39540559f028fea8",
                "6afdef51382f3b42"
            ]
        ]
    },
    {
        "id": "e1e4ffaeec84a46e",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "Work in progress",
        "info": "",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "9b5042c1f40667cb",
        "type": "ui_text",
        "z": "b926bc2f.e3bf6",
        "group": "39eb116cd0133b1a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "msg.ip",
        "label": "IP of selected device",
        "format": "{{msg.ip}}",
        "layout": "row-center",
        "className": "",
        "x": 1210,
        "y": 280,
        "wires": []
    },
    {
        "id": "8c22fbecda2b1db7",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "msg.ip = global.ip",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "ip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "9b5042c1f40667cb",
                "5d41dfb484857bd0"
            ]
        ]
    },
    {
        "id": "afacda62093e4185",
        "type": "ui_text",
        "z": "b926bc2f.e3bf6",
        "group": "39eb116cd0133b1a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Which generation is the device?",
        "label": "Which generation is the device?",
        "format": "{{msg.gen}}",
        "layout": "row-center",
        "className": "",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "b9c158b4e350a6bb",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "WIFI and IP snippets",
        "info": "{\n  \"id\": 1,\n  \"method\": \"WiFi.SetConfig\",\n  \"params\": {\n    \"config\": {\n      \"sta\": {\n        \"ssid\": \"Yard\",\n        \"ssid\": \"Tegel_2.4GEXT\",\n        \"pass\": \"1234567890123\",\n        \"enable\": true,\n        \"ipv4mode\": \"static\",\n        \"ip\": \"192.168.0.229\",\n        \"netmask\": \"255.255.255.0\",\n        \"gw\": \"192.168.0.2\",\n        \"nameserver\": \"192.168.0.2\"\n      }\n    }\n  }\n}",
        "x": 170,
        "y": 1180,
        "wires": []
    },
    {
        "id": "3f71830d11eff5aa",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "Swt WIFI and IP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ip",
                "v": "ip",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":1,\"method\":\"WiFi.SetConfig\",\"params\":{\"config\":{\"sta\":{\"ssid\":\"Tegel_2.4GEXT\",\"pass\":\"1234567890123\",\"enable\":true,\"ipv4mode\":\"static\",\"ip\":\"192.168.0.229\",\"netmask\":\"255.255.255.0\",\"gw\":\"192.168.0.2\",\"nameserver\":\"192.168.0.2\"},\"sta1\":{\"ssid\":\"Yard\",\"pass\":\"1234567890123\",\"enable\":true,\"ipv4mode\":\"static\",\"ip\":\"192.168.0.229\",\"netmask\":\"255.255.255.0\",\"gw\":\"192.168.0.2\",\"nameserver\":\"192.168.0.2\"}}}}",
        "payloadType": "json",
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "c4066fa05599e976"
            ]
        ]
    },
    {
        "id": "3117e602cd19b7c8",
        "type": "ui_dropdown",
        "z": "b926bc2f.e3bf6",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "39eb116cd0133b1a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "e17215d18c18d841"
            ]
        ]
    },
    {
        "id": "93147644f1a27875",
        "type": "inject",
        "z": "b926bc2f.e3bf6",
        "name": "",
        "props": [
            {
                "p": "options",
                "v": "[{\"name\":\"Parkering och loft\"},\"48\",\"68\"]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "dbc4555f09c2fe06"
            ]
        ]
    },
    {
        "id": "dbc4555f09c2fe06",
        "type": "function",
        "z": "b926bc2f.e3bf6",
        "name": "function 3",
        "func": "let myresult = [];\nlet mydata = global.get(\"data\")\n\nfor (let index = 0; index < mydata.length; index++) {\n    const element = mydata[index];\n\n \n    const myobject = {};\n    myobject[element.name]=element;\n\n    myresult.push(myobject);\n\n}\n\nmsg.options = myresult;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "3117e602cd19b7c8"
            ]
        ]
    },
    {
        "id": "62ac4b70990722fe",
        "type": "comment",
        "z": "b926bc2f.e3bf6",
        "name": "Pick device in GUI and set IP",
        "info": "Pick device in GUI and set IP",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "e17215d18c18d841",
        "type": "change",
        "z": "b926bc2f.e3bf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "payload.sta_ip",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "041c120ba3cea0e7"
            ]
        ]
    },
    {
        "id": "5f6c6b24.ae8c34",
        "type": "comment",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "Notes",
        "info": "now 32\n\nneeds 88\n\nhttp://192.168.33.1/settings/sta?enabled=1&ssid=YOUR_WIFI_SSID_HERE&key=YOUR_WIFI_KEY_HERE\n\nhttp://192.168.0.32/settings/sta\n{\"enabled\":true,\"ssid\":\"Tegel\",\"ipv4_method\":\"dhcp\",\"ip\":null,\"gw\":null,\"mask\":null,\"dns\":null}\n\n\nhttp://192.168.0.52/settings/sta\n{\"enabled\":true,\"ssid\":\"Tegel\",\"ipv4_method\":\"static\",\"ip\":\"192.168.0.52\",\"gw\":\"192.168.0.2\",\"mask\":\"255.255.255.0\",\"dns\":\"192.168.0.2\"}",
        "x": 270,
        "y": 580,
        "wires": []
    },
    {
        "id": "327ef29e.12ff8e",
        "type": "http request",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "Primary WIFI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://192.168.0.163/settings/sta",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 480,
        "wires": [
            [
                "c0b83d5b.946c8"
            ]
        ]
    },
    {
        "id": "c0b83d5b.946c8",
        "type": "debug",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 560,
        "wires": []
    },
    {
        "id": "52703942.1aaf68",
        "type": "http request",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://192.168.0.32/settings/sta",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3a210d52.985f62",
        "type": "inject",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "Set WIFI and static IP",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "52703942.1aaf68"
            ]
        ]
    },
    {
        "id": "852ef071.13d1e",
        "type": "inject",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "Set WIFI and static IP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"enabled\":1,\"ssid\":\"Yard\",\"key\":\"1234567890123\",\"ipv4_method\":\"static\",\"ip\":\"192.168.0.89\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.0.2\",\"dns\":\"192.168.0.2\"}",
        "payloadType": "json",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "b9950178.38129"
            ]
        ]
    },
    {
        "id": "b9950178.38129",
        "type": "http request",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "Secondary wifi",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.0.88/settings/sta1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 620,
        "wires": [
            [
                "c0b83d5b.946c8"
            ]
        ]
    },
    {
        "id": "de46c1c6.1c16a",
        "type": "inject",
        "z": "dd473a2.42521c8",
        "g": "23b01882.224298",
        "name": "Set WIFI and static IP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"enabled\":true,\"ssid\":\"Yard\",\"key\":\"1234567890123\",\"ipv4_method\":\"static\",\"ip\":\"192.168.0.89\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.0.2\",\"dns\":\"192.168.0.2\"}",
        "payloadType": "json",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "c0b83d5b.946c8",
                "327ef29e.12ff8e"
            ]
        ]
    },
    {
        "id": "e1bec69d821ad4dc",
        "type": "comment",
        "z": "98c82eca.abfb6",
        "name": "http://192.168.0.165/cm?cmnd=POWER+TOGGLE",
        "info": "http://192.168.0.165/cm?cmnd=POWER+TOGGLE",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "9c249979f86e2850",
        "type": "http request",
        "z": "98c82eca.abfb6",
        "name": "Toggle tasmota led",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.165/cm?cmnd=POWER+TOGGLE",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "81ec5641a8a694fe"
            ]
        ]
    },
    {
        "id": "a764862ff1546d72",
        "type": "inject",
        "z": "98c82eca.abfb6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "9c249979f86e2850"
            ]
        ]
    },
    {
        "id": "81ec5641a8a694fe",
        "type": "debug",
        "z": "98c82eca.abfb6",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "fe2186f1.963e38",
        "type": "ui_button",
        "z": "bcaa9a7c.cecaf8",
        "name": "Toggle",
        "group": "8ed57ee2.fa41e",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "Toggle",
        "tooltip": "Toggle the light on or off",
        "color": "black",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "{\"turn\":\"toggle\"}",
        "payloadType": "json",
        "topic": "picker",
        "topicType": "msg",
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "a66dce7c.38852"
            ]
        ]
    },
    {
        "id": "cd4c6ad4.ba9c98",
        "type": "ui_colour_picker",
        "z": "bcaa9a7c.cecaf8",
        "name": "Duo picker",
        "label": "",
        "group": "8ed57ee2.fa41e",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": true,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 1,
        "width": "4",
        "height": "4",
        "passthru": false,
        "topic": "picker",
        "topicType": "msg",
        "className": "",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "9e2e0841.79bb68"
            ]
        ]
    },
    {
        "id": "a66dce7c.38852",
        "type": "http request",
        "z": "bcaa9a7c.cecaf8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.0.85/color/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9e2e0841.79bb68",
        "type": "function",
        "z": "bcaa9a7c.cecaf8",
        "name": "",
        "func": "\n\nmsg.payload.red = msg.payload.r\nmsg.payload.green = msg.payload.g\nmsg.payload.blue = msg.payload.b\nmsg.payload.gain = msg.payload.a * 100\nmsg.payload.mode = \"color\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 360,
        "wires": [
            [
                "a66dce7c.38852"
            ]
        ]
    },
    {
        "id": "d7e5d00f.c3a55",
        "type": "ui_button",
        "z": "bcaa9a7c.cecaf8",
        "name": "Red",
        "group": "8ed57ee2.fa41e",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "Red",
        "tooltip": "Turn on bright red",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"turn\":\"on\",\"mode\":\"color\",\"red\":255,\"green\":0,\"blue\":0,\"gain\":100}",
        "payloadType": "json",
        "topic": "picker",
        "topicType": "msg",
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "a66dce7c.38852"
            ]
        ]
    },
    {
        "id": "a599491d.e4a528",
        "type": "ui_button",
        "z": "bcaa9a7c.cecaf8",
        "name": "Blue",
        "group": "8ed57ee2.fa41e",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "blue",
        "tooltip": "Turn on bright red",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "{\"turn\":\"on\",\"mode\":\"color\",\"red\":0,\"green\":0,\"blue\":255,\"gain\":100}",
        "payloadType": "json",
        "topic": "picker",
        "topicType": "msg",
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "a66dce7c.38852"
            ]
        ]
    },
    {
        "id": "398993f8.5da6bc",
        "type": "ui_button",
        "z": "bcaa9a7c.cecaf8",
        "name": "White",
        "group": "8ed57ee2.fa41e",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "White",
        "tooltip": "Turn on bright red",
        "color": "white",
        "bgcolor": "light blue",
        "className": "",
        "icon": "",
        "payload": "{\"turn\":\"on\",\"mode\":\"white\",\"brightness\":100}",
        "payloadType": "json",
        "topic": "picker",
        "topicType": "msg",
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "a66dce7c.38852"
            ]
        ]
    },
    {
        "id": "cedc1c84.a708b",
        "type": "inject",
        "z": "bcaa9a7c.cecaf8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 200,
        "wires": [
            [
                "398993f8.5da6bc"
            ]
        ]
    },
    {
        "id": "9dd2e315.b2427",
        "type": "inject",
        "z": "bcaa9a7c.cecaf8",
        "name": "Set WIFI and static IP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"enabled\":1,\"ssid\":\"Tegel\",\"key\":\"1234567890123\",\"ipv4_method\":\"static\",\"ip\":\"192.168.0.88\",\"gw\":\"192.168.0.2\",\"mask\":\"255.255.255.0\",\"dns\":\"192.168.0.2\"}",
        "payloadType": "json",
        "x": 960,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5ee2f42c6f4eb23b",
        "type": "comment",
        "z": "e450d5726844789a",
        "name": "Overrides database - do not use",
        "info": "Set IP and perhaps topic below before using flows above",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "f0e92fa1193ac77a",
        "type": "inject",
        "z": "e450d5726844789a",
        "name": "Load hardcoded database",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "7afb7fd08ce0a895"
            ]
        ]
    },
    {
        "id": "7afb7fd08ce0a895",
        "type": "change",
        "z": "e450d5726844789a",
        "name": "Database over devices and available IPs",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "global",
                "to": "[{\"name\":\"xxx\",\"id\":\"shellyplus2pm-c049ef85c79c\",\"generation\":\"gen2\",\"sta_ip\":\"192.168.0.225\",\"comment\":\"New two channel for loft lamp and parking\"},{\"name\":\"Stora gård\",\"id\":\"shellyswitch25-3C6105E42572.localdomain\",\"generation\":\"gen1\",\"sta_ip\":\"192.168.0.226\"},{\"name\":\"Available IP\",\"IP list\":[\"192.168.0.227\",\"192.168.0.228\",\"192.168.0.229\",\"192.168.0.230\",\"192.168.0.231\",\"192.168.0.232\",\"192.168.0.233\",\"192.168.0.234\"]}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4a811d15ce4647bb",
        "type": "inject",
        "z": "e450d5726844789a",
        "name": "Load database from data.json",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "cc3227e571c52856"
            ]
        ]
    },
    {
        "id": "cc3227e571c52856",
        "type": "subflow:1053ed500fd47d7f",
        "z": "e450d5726844789a",
        "name": "",
        "x": 500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d9e214df71d28053",
        "type": "inject",
        "z": "e450d5726844789a",
        "name": "Save database to data.json",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "1ffa031a56d851f7"
            ]
        ]
    },
    {
        "id": "1ffa031a56d851f7",
        "type": "subflow:6fe751efb4188f7f",
        "z": "e450d5726844789a",
        "name": "",
        "x": 490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b9912380d3150ee8",
        "type": "mqtt in",
        "z": "e450d5726844789a",
        "name": "Sub to tasmota temp",
        "topic": "tele/tasmota_5F2E10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ef7476a39f2de8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "edf4ce0b29098ebe",
        "type": "inject",
        "z": "e450d5726844789a",
        "name": "",
        "props": [
            {
                "p": "options",
                "v": "[{\"name\":\"Parkering och loft\"},\"48\",\"68\"]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 790,
        "y": 420,
        "wires": [
            [
                "7b44fc5582c144dc"
            ]
        ]
    },
    {
        "id": "3b2b4b901f593646",
        "type": "ui_dropdown",
        "z": "e450d5726844789a",
        "name": "Device dropdown",
        "label": "Select device",
        "tooltip": "",
        "place": "No device selected",
        "group": "d55a068db8bb479d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1270,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7b44fc5582c144dc",
        "type": "function",
        "z": "e450d5726844789a",
        "name": "function 1",
        "func": "let myresult = [];\nlet mydata = global.get(\"data\")\n\nfor (let index = 0; index < mydata.length; index++) {\n    const element = mydata[index];\n\n \n    const myobject = {};\n    myobject[element.name]=element;\n\n    myresult.push(myobject);\n\n}\n\nmsg.options = myresult;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 420,
        "wires": [
            [
                "3b2b4b901f593646"
            ]
        ]
    },
    {
        "id": "282182251a6e5854",
        "type": "ui_switch",
        "z": "f8e3429b0cb635bb",
        "name": "Taklampa",
        "label": "Taklampa",
        "tooltip": "",
        "group": "a40f2d68c8f1e7e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "grey",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "d0f8fa7bf6bf7185"
            ]
        ]
    },
    {
        "id": "51a81d59222d36ca",
        "type": "mqtt out",
        "z": "f8e3429b0cb635bb",
        "name": "Send mqtt to taklampa rpc",
        "topic": "shelly/tegel/kontor/taklampaA/rpc",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ef7476a39f2de8d",
        "x": 1030,
        "y": 280,
        "wires": []
    },
    {
        "id": "3990e3dbb44cc05f",
        "type": "inject",
        "z": "f8e3429b0cb635bb",
        "name": "rpc shelly getstatus",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":123,\"src\":\"arvidstopic\",\"method\":\"Shelly.GetStatus\"}",
        "payloadType": "json",
        "x": 890,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "916c2bbf9296c468",
        "type": "comment",
        "z": "f8e3429b0cb635bb",
        "name": "",
        "info": "\n\nshelly/tegel/kontor/taklampaA/command\nstatus_update\n\n",
        "x": 80,
        "y": 640,
        "wires": []
    },
    {
        "id": "c1cfe176fd872c7e",
        "type": "inject",
        "z": "f8e3429b0cb635bb",
        "name": "rpc switch.getconfig",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"jsonrpc\":\"2.0\",\"id\":1,\"src\":\"user_1\",\"method\":\"Switch.GetConfig\",\"params\":{\"id\":0}}",
        "payloadType": "json",
        "x": 890,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9b5e979530f0ee5c",
        "type": "inject",
        "z": "f8e3429b0cb635bb",
        "name": "rpc switch.set",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":2,\"src\":\"user_1\",\"method\":\"Switch.Set\",\"params\":{\"id\":1,\"on\":true}}",
        "payloadType": "json",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d0f8fa7bf6bf7185",
        "type": "switch",
        "z": "f8e3429b0cb635bb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "3bf3a110445f0b13"
            ],
            [
                "d37d5b3121e06d39"
            ]
        ]
    },
    {
        "id": "3bf3a110445f0b13",
        "type": "change",
        "z": "f8e3429b0cb635bb",
        "name": "Turn on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{     \"id\": 2,     \"src\": \"user_1\",     \"method\": \"Switch.Set\",     \"params\": {         \"id\": 1,         \"on\": true     } }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "51a81d59222d36ca"
            ]
        ]
    },
    {
        "id": "d37d5b3121e06d39",
        "type": "change",
        "z": "f8e3429b0cb635bb",
        "name": "Turn off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":2,\"src\":\"user_1\",\"method\":\"Switch.Set\",\"params\":{\"id\":1,\"on\":false}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "51a81d59222d36ca"
            ]
        ]
    },
    {
        "id": "449ef6282094a13b",
        "type": "mqtt in",
        "z": "f8e3429b0cb635bb",
        "name": "TaklampaA status",
        "topic": "shelly/tegel/kontor/taklampaA/status/switch:1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ef7476a39f2de8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "b72e03d740f79a48"
            ]
        ]
    },
    {
        "id": "03f64695d8fee1b5",
        "type": "mqtt in",
        "z": "f8e3429b0cb635bb",
        "name": "TaklampaA events rpc",
        "topic": "shelly/tegel/kontor/taklampaA/events/rpc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ef7476a39f2de8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b72e03d740f79a48",
        "type": "change",
        "z": "f8e3429b0cb635bb",
        "name": " ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "282182251a6e5854"
            ]
        ]
    },
    {
        "id": "bc49eae2285d70cb",
        "type": "mqtt in",
        "z": "f8e3429b0cb635bb",
        "name": "Tasmota button",
        "topic": "stat/tasmota_5F2E10/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ef7476a39f2de8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "f499f0859b15696d"
            ]
        ]
    },
    {
        "id": "f499f0859b15696d",
        "type": "switch",
        "z": "f8e3429b0cb635bb",
        "name": "",
        "property": "payload.Button1.Action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SINGLE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DOUBLE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TRIPLE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "3bf3a110445f0b13"
            ],
            [
                "d37d5b3121e06d39"
            ],
            [
                "e680865dea26b8a4"
            ]
        ]
    },
    {
        "id": "e680865dea26b8a4",
        "type": "change",
        "z": "f8e3429b0cb635bb",
        "name": "Toggle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":2,\"src\":\"user_1\",\"method\":\"Switch.Toggle\",\"params\":{\"id\":1}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "51a81d59222d36ca"
            ]
        ]
    }
]